@using prodCat.Models
@model CatInfoView

<div class="section has-text-centered is-9">
    <div class="columns is-centered has-background-primary">
        <div class="column is-9">
            <h1 class="title">@Model.thisCategory.name</h1>
        </div>
        <div class="column">
            <a href="/products">Go back</a>
        </div>
    </div>
</div>
<div class="section">
    <div class="box">
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">
                    Products:
                </h2>
                @foreach (var prod in @Model.thisCategory.catProducts)
                {
                    <p>- @prod.product.name</p>
                }
            </div>
            <div class="divider"></div>
            <div class="column">
                <h3 class="subtitle">
                    Add Product:
                </h3>
                <form asp-action="AddProd" asp-controller="Home" method="post">
                    <div class="field">
                        <div class="select">
                            <select asp-for="newPair.productId">
                                <option value="">Products</option>
                                @foreach (var infoProd in @Model.prodList)
                                {
                                    <option value="@infoProd.productId">@infoProd.name</option>
                                }
                            </select>
                        </div>
                        <input type="hidden" asp-for="newPair.categoryId" value="@Model.thisCategory.categoryId">
                    </div>
                    <div class="field">
                        <button type="submit is-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>